<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            border: 0;
            margin: 0;
            list-style: none;
        }
    </style>
    <link rel="stylesheet" href="/webapp/static/css/page_DWB.css">
</head>
<body style="display: flex; height: 100vh; overflow: hidden;">
    <nav>
        <div class="close_slide">
            <ul>
                <li><a href=""><img src="/webapp/static/images/icons8-menu-96.png" alt=""></a></li>
            </ul>
        </div>
        <div class="menu_icon">
            <ul>
                <li>
                    <a href="" >
                        <img src="/webapp/static/images/icons8-home-96.png" alt="">
                        <p></p>
                    </a>
                </li>
                <li>
                    <a href="" >
                        <img src="/webapp/static/images/icons8-upload-96.png" alt="">
                        <p></p>
                    </a>
                </li>
                <li>
                    <a href="" >
                        <img src="/webapp/static/images/icons8-checkmark-96.png" alt="">
                        <p></p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="support">
            <ul>
                <li>
                    <a href="" >
                        <img src="/webapp/static/images/icons8-exclamation-mark-96.png" alt="">
                        <p></p>
                </a>
            </li>
                <li>

                    <a href="" >
                        <img src="/webapp/static/images/icons8-ask-96.png" alt="">
                        <p></p>
                </a>
            </li>
                <li>
                    <a href="" >
                        <img src="/webapp/static/images/icons8-setting-96.png" alt="">
                        <p></p>
                </a>
            </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="id_header">
            <ul>
                <li>
                    <a href="">
                        <img src="/webapp/static/images/icons8-video-camera-100.png" alt="">
                        <p>DWB</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="inform">

        </div>
        <div id="input">
            <input type="text" id="text_input">
            <button><a href=""><img src="/webapp/static/images/icons8-search-96.png" alt=""></a></button>
        </div>
    </main>
</body>
</html>