<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/page_upload.css') }}">
    <style>
        * {
            padding: 0;
            margin: 0;
            border: 0;
            list-style: none;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }

        #image-preview, #video-preview {
            max-width: 500px;
            height: auto;
            display: none;
            margin-top: 10px;
        }

        .upload-icon {
            cursor: pointer;
        }

    </style>
</head>
<body>
    <header>
        <div class="logo">
            <li><a href="/"><img src="{{ url_for('static', path='images/icons8-video-camera-100.png') }}" alt="" id="logo"></a></li>
            <h1>DWB</h1>
        </div>
        <div class="nav_menu">
            <ul>
                <li><a href="#"><h2>Về chúng tôi</h2></a></li>
                <li><a href="#"><h2>Liên lạc</h2></a></li>
                <li><a href="#"><h2>Lịch sử</h2></a></li>
                <li><a href="#"><h2>Hỗ trợ</h2></a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="main_body">
            <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
                <a href="javascript:void(0);" id="upload-link">
                    <img src="{{ url_for('static', path='images/icons8-upload-96.png') }}" alt="Upload Icon" id="upload-icon" class="upload-icon">
                </a>
                <h3>Tải lên dữ liệu cần được truy vấn</h3>
                <p>VIDEO, HÌNH ẢNH</p>
                <input type="file" id="file-input" class="file-input" name="file" accept="video/*, image/*" required>
                <img src="" id="image-preview" alt="Image Preview">
                <video id="video-preview" controls></video>
                <button type="submit">Upload</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', path='js/file_upload.js') }}"></script>
</body>
</html>
