.header_icon{
    display: flex;
    list-style: none;
}
.header_icon #logo{
    width: 10%;
    height:10%;
}

.menu_icon{
    width: 24%;
    height: 34%;
    padding: 13% 0 13% 30%;
}   
#logo_icon{
    display: flex;
    width: 20%;
    height: 10%;
}
.camera_icon{
    display: flex;
    height: 35%;
    width: 28%;
    padding: 17% 0 14% 0;
    /* width: 100%; */
    /* padding: 14% 0 14% 14%; */
}
#logo_icon a{
    display: flex;
}
#logo_icon a p{
    width: 30%;
    font-size: 26px;
    padding-top: 16.5%;
    list-style: none;
    text-decoration: none;
    color: #000;
}
#logo_icon a{
    text-decoration: none;
}
/* #logo_icon a{
    width: 40%;
    
} */
#logo_name{
    padding: 8% 0 21% 0;
    font-size: 40px;
}
/* header user */
.header_user{
    display: flex;
    justify-content: flex-end;
    width: 5%;
    height: auto;
    margin: 1% 2% 0 50%;
    border: 2px solid grey;
    border-radius: 19px;
}
.header_user li{
    width: 100%;
}
.header_user li img{
    width: 100%;

}
/* menu after hover */

.nav_icon li a img{
    width: 17%;
    padding: 5% 15% 5% 15%;
}
.nav_icon li a{
    display: flex;
    text-decoration: none;
    color: black;
}
.nav_icon li a p{
    padding-top: 10%;
}
.sub_nav{
    position: fixed;
    bottom: 10px;
}
.sub_nav_icon{
    
    bottom: 0;
}
.sub_nav_icon li a img{
    
    width: 15%;
    padding: 10% 2% 10% 12%;
}
.sub_nav_icon li a{
    display: flex;
    text-decoration: none;
    color: black;
}
.sub_nav_icon li a p{
    padding-top: 15%;
    padding-left: 11%;
}

/* Header Search */
.header_search{
    place-items: center;
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 260%;
    height: 12vh;
    top: 0;

}
.header_search #enter_search{
    border: 2px solid grey;
    width: 160%;
    height: 5vh;
    border-radius: 15px;
    font-size: 24px;
}
#button {
    width: 9%;
    border: 1px solid rgb(221, 219, 219);
    border-radius: 12px;
}
#button_search{
    width: 100%;
    border-radius: 10px;
}
.video_body{
    width: 90%;
    height: 30vh;
    /* display: flex; */
    margin-left: 20%;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
}
.video_body div{
    width: 40%;
    height: 60%;
    /* padding-right: 6em; */
    /* padding-top: 2em; */
}
.video_body div a{
    width: 27%;
    height: 50%;
    padding-right: 1%;
    padding-top: 2em;
    
}
.video_body a img{
    width: 100%;
    height: 24vh;
    display: block;
    border-radius: 15px;
}