/* header */
#header_logo{
    place-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10vh;
}
#header_logo img{
    padding-top: 7.3vh;
}
#header_logo h1{
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
}
/* body */
#user{
    display: grid;
    place-items: center;
}
#border_user{

    border: 1px solid grey;
    border-radius: 10px;
    width: 40%;
    height: 8vh;
    justify-content: center;
    font-size: 1.2rem;
}
#user p{
    text-align: center;
}
#password{
    display: grid;
    place-items: center;
    padding-top: 1%;
    padding-bottom: 4%;
}

#border_pass{
    border: 1px solid grey;
    border-radius: 10px;
    width: 40%;
    height: 8vh;
    justify-content: center;
    font-size: 1.2rem;
}
#password p{
    text-align: center;
}
#button{
    border: 2px solid grey;
    background-color: grey;
    border-radius: 10px;
    width: 20%;
    height: 6vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#button:hover{

}